<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of thrones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <form method="post" action="/got" class="">
        <label for="character-number">Enter a number for character: </label>
        <input type="number" name="character" placeholder="">
        <p>🚩 Ex : Jon Snow number is 583</p>
        <input type="submit">
    </form>

    <div class="got-container">
        <% if(locals.name) {%>
        <ul>
            <li>Name: <%= name %></li>
            <li>Title: <%= title %></li>
            <li>Culture: <%= culture %></li>
            <li>Gender: <%= gender %></li>
        </ul>
        <% } %>
    </div>
</body>

</html>