<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Use the Public API's</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <nav>
        <h1>API Explorer</h1>
        <ul>
           <a href="/"><li>Home</li></a> 
            <a href="https://adesh-111.github.io/Personal-site/"><li>About me</li></a>
            <a href="https://github.com/appbrewery/public-api-lists"><li>For more Api's</li></a>
        </ul>
    </nav>
    <div class="container col-xxl-8 px-4 py-5 hero">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/images/hero.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="800"
                    loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to API Explorer!</h1>
                <p class="lead">Are you ready to embark on a journey into the realm of APIs? Get ready to unleash the
                    power of data with our project, API Explorer! In this project, you'll dive deep into the world of
                    web development by building a website that seamlessly integrates with public APIs.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                </div>
            </div>
        </div>
    </div>
    <div class="album py-5 ">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/images/laugh.jpeg" alt="image for joke API">
                        <div class="card-body">
                            <h3>Joke API</h3>
                            <p class="card-text">JokeAPI is a REST API that serves uniformly and well formatted jokes.
                                It supports a variety of filters that can be applied to get just the right jokes you
                                need.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                 <a href="/joke"><button type="button" class="btn btn-sm btn-outline-secondary try">Try API</button></a>   
                                </div>
                                <small class="text-body-secondary">Comedy</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/images/bored.jpeg" alt="">
                        <div class="card-body">
                            <h3>Bored API</h3>
                            <p class="card-text">The Bored API helps you find things to do when you're bored! There are
                                fields like the number of participants, activity type, and more that help you narrow
                                down your results.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <a href="/bored"><button type="button" class="btn btn-sm btn-outline-secondary try">Try API</button></a>  
                                </div>
                                <small class="text-body-secondary">Activity</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/images/gender.jpg" alt="">
                        <div class="card-body">
                            <h3>Genderize API</h3>
                            <p class="card-text">A simple API that predicts the gender of a person based on a first name
                                The Genderize API allows you to check the statistical probability of a name being male
                                or female.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/gender"><button type="button" class="btn btn-sm btn-outline-secondary try">Try API</button></a>
                                </div>
                                <small class="text-body-secondary">Identity</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/images/numbers.jpeg" alt="">
                        <div class="card-body">
                            <h3>Number facts API</h3>
                            <p class="card-text">Bring meaning to your metrics and stories to your dates with our API of
                                interesting number facts.This page has been shared more times than the number of minutes
                                in one quarter of an hour.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/number"><button type="button" class="btn btn-sm btn-outline-secondary try">Try API</button></a>
                                </div>
                                <small class="text-body-secondary">Education</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/images/gameofthrones.jpeg" alt="">
                        <div class="card-body">
                            <h3>GOT API</h3>
                            <p class="card-text">All the data from the universe of Ice And Fire you've ever wanted!
                                Made by Joakim Skoog, it's the world's greatest source for quantified and structured
                                data from the universe of Ice and Fire (and the HBO series Game of Thrones).</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/got"><button type="button" class="btn btn-sm btn-outline-secondary try">Try API</button></a>
                                </div>
                                <small class="text-body-secondary">Movie</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/images/picg.jpg" alt="">
                        <div class="card-body">
                            <h3>Lorem Ipsum for pics </h3>
                            <p class="card-text">The Lorem Ipsum for photosEasy to use, stylish placeholders Just add
                                your desired image size (width & height) after our URL, and you'll get a random image..
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/lorem"><button type="button" class="btn btn-sm btn-outline-secondary try">Try API</button></a>
                                </div>
                                <small class="text-body-secondary">Random</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Made with ❤️ by Adesh</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>